* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 50px;
	font-family: 'Montserrat', sans-serif;
	background-color: #333;
	font-size: 36px;
}
.square {
	width: 300px;
	height: 300px;
	background-color: royalblue;

	border: 10px solid gold;
	border: 10px dashed gold;
	border: 10px dotted gold;

	border-top: 10px solid #000;
	border-bottom: 10px solid rgb(255, 0, 0);
	
	/* border-radius: 50px; */
	border-top-left-radius: 50px;
}
