* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 50px;
	font-family: 'Nunito', sans-serif;
	background-color: #333;
	font-size: 36px;
}

.btn {
	width: 120px;
	position: absolute;
	top: 50px;
	padding: 10px 30px;
	background: none;
	color: #fff;
	font-weight: bold;
	border: 3px solid #fff;
	border-radius: 5px;
	letter-spacing: 2px;
	text-transform: uppercase;
	cursor: pointer;
	transform: translateX(-50%);
	font-family: 'Nunito', sans-serif;
	transition: 0.35s;
}
.btn:hover {
	background: #fff;
	color: #000;

}
.square {
	position: absolute;
	top: 150px;
	width: 100px;
	height: 100px;
	border-radius: 25px;
	transform: translateX(-50%);
	transition: 0.35s;
}

.btn-zoom {
	left: 25%;
}
.btn-move {
	left: 50%;
}
.btn-color {
	left: 75%;
}
.blue {
	background: royalblue;
	box-shadow: 0 0 15px royalblue;
	border: 2px solid rgb(21, 12, 78);
	left: 25%;
}
.red {
	background: tomato;
	box-shadow: 0 0 15px tomato;
	border: 2px solid red;
	left: 50%;
}
.green {
	background: lime;
	box-shadow: 0 0 15px lime;
	border: 2px solid green;
	left: 75%;
}
.btn-zoom:hover ~ .square {
	width: 200px;
	height: 200px;
	
}
.btn-move:hover ~ .square {
	top: 400px;
	
}
.btn-color:hover ~ .square {
	background: black;
	box-shadow: 0 0 15px black;
	border: 2px solid #fff;
	
}
