* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	color: #fff;
	background-color: #333;
}
.hero-img {
	position: absolute;
	width: 600px;
	height: 400px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(45deg);
	background-image: url(https://unsplash.it/600/400);
	transition: transform ease-out 1s, color 1s 1s;
}
.hero-img:hover {
	transform: translate(-50%, -50%) rotate(-360deg);
	color: yellow;
}
.hero-bg {
	background-color: rgba(0, 0, 0, 0.8);
}
.hero-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-transform: uppercase;
	font-size: 35px;
}
