* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-size: 100%;
}
.square {
	margin: 20px;
	.text-s {
		padding: 10px;
		font-family: serif;
		font-size: 3rem;
	}
	.text-ss {
		padding: 10px;
		font-family: sans-serif;
		font-size: 3rem;
	}
	.text-n {
		padding: 10px;
		font-family: sans-serif;
		font-size: 2rem;
		text-align: justify;
		// nie używamy raczej do wyrównania tekstu do czytania right lub center.
	}
}
