* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 50px;
	font-family: 'Montserrat', sans-serif;
	background-color: #333;
	color: #fff;
	font-size: 36px;
}
main {
	/* position: relative; */
	margin-top: 200px;
	background-color: #fff;
}
div {
	margin: 0 auto;
	height: 200px;
	width: 600px;
	border: 3px solid black;
}
.red {
	background-color: tomato;
}
.blue {
	/* position: relative;
	top: 700px; */

	/* position: absolute; */
	/* Pozycjonuje się względem swojego rodzica tutaj main. Jeśli rodzic main nie jest pozycjonowany position: relative; to pozycjonowanie nastąpi względem strony.
	Można to zobaczyć np. nadając main background-color: #fff;  */

	position: relative;
	margin: 0px auto;
	background-color: royalblue;
}
.green {
	background-color: greenyellow;
}
.gold {
	position: absolute;
	top: 40px;
	left: 240px;
	/* Jeżeli chcemy wypozycjonować jakiś element wzgledem innego to na rodzicu musimy nadać position: relative; a na child position: absolute; */

	margin: 0;
	width: 120px;
	height: 120px;
	background-color: gold;
}
/* Position absolute:

    wyciąga element z warstwy wizualnej,

    wyciąga element ze struktury strony,

    pozycjonuje się względem rodzica, który ma position inny, niż domyślny static,

    jeśli żaden rodzic, dziadek, pradziadek nie ma innego  */
