p {
	/* m10 */
	margin: 10px;
	/* m10-20 */
	margin: 10px 20px;
	/* p10 */
	padding: 10px;
	/* p-10 */
	padding: -10px;
	/* p-10--20 */
	padding: -10px -20px;
	/* m10p */
	margin: 10%;
	/* fz20 */
	font-size: 20px;
	/* fz20r */
	font-size: 20rem;
	/* c#f */
	color: #fff;
	/* bgc#123 */
	background-color: #123;
	/* posa */
	position: absolute;
	/* posf */
	position: fixed;
	/* t0 */
	top: 0;
	/* b20 */
	bottom: 20px;
	/* w100p */
	width: 100%;
	/* h300 */
	height: 300px;
	/* pl10 */
	padding-left: 10px;
	/* mt40 */
	margin-top: 40px;
	/* o */
	overflow: hidden;
/* cu */
cursor: pointer;

text-transform: uppercase;
text-align: center;
text-align: right;
display: block;
display: inline-block;
display: flex;
font-style: italic;
/* fz16 */
font-size: 16px;
font-weight: bold;

}
