* {
	/* box-sizing: border-box; */
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
	background-color: #333;
	font-size: 36px;
}
.square {
	width: 300px;
	height: 300px;
	padding: 20px;
	border: 10px solid black;
	margin: 20px;
	/* Dodając padding i border przy border-box kwadrat nie powiększa się tylko udostępnia wewnątrz miejsce a margin nie ma wpływu na wielkość
	Dodając padding i border przy content-box kwadrat  powiększa się na zewnątrz a margin nie ma wpływu na jego wielkość 
	Dlatego najlepiej w css określić na początku
	box-sizing: border-box;*/
}
.content {
	background-color: royalblue;
	box-sizing: content-box;
}
.border {
	background-color: lime;
	box-sizing: border-box;
}
