// pliki w nazwie mają mieć dwa podkreślenia !!!
@import '__colors';
@import '__components';
@import '__mixins';
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.6rem;
	// font-family: 'Dancing Script', cursive;
}
// Nawigacja strony burger icon
.burger-btn {
	position: fixed;
	top: 20px;
	right: 20px;
	padding: 1em;
	background: none;
	border: 1px solid transparent;
	cursor: pointer;
	z-index: 1000;
	&:focus {
		// do każdego elementu input, którego cechy w danym momencie spełniają zasadę pseudoklasy :focus dodaj właściwość CSS, która zmieni:
		outline: none;
		border: 1px solid rgba(255, 255, 255, 0.5);
		// W tym samym dokumencie HTML w tym samym momencie maksymalnie tylko jeden element HTML może spełniać zasadę pseudoklasy ":focus".
	}
	&:hover {
		// po najechaniu na burgera kreski zwiększają się do 100%
		.burger-btn__bars::after,
		.burger-btn__bars::before {
			width: 100%;
		}
	}
	&__box {
		position: relative;
		width: 40px;
		height: 30px;
	}
	// odwołanie do kresek w burger
	&__bars,
	&__bars::after,
	&__bars::before {
		// dodanie @mixin z pliku scss
		@include burgerBtn;
	}
	&__bars {
		width: 100%;
		&::after {
			top: 13px;
			width: 60%;
		}
		&::before {
			top: 27px;
			width: 30%;
			// aby opóźnić wyświetlenie dolnej kreski burgera
			transition-delay: 0.1s;
		}
	}
}
