* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
	background-color: #333;
	font-size: 36px;
	color: #fff;
}

.bg {
	width: 100vw;
	height: 100vh;
	background-color: #ddd;
	transition: 500ms;
}

.square {
	position: absolute;
	top: 50px;
	width: 60px;
	height: 60px;
	border: 3px solid black;
	transform: translateX(-50%);
	cursor: pointer;
}

.red {
	left: 20%;
	background-color: tomato;
}

.blue {
	left: 40%;
	background-color: royalblue;
}

.green {
	left: 60%;
	background-color: greenyellow;
}

.gold {
	left: 80%;
	background-color: gold;
}

.red:hover ~ .bg {
	background-color: tomato;
}
.blue:hover ~ .bg {
	background-color: royalblue;
}
.green:hover ~ .bg {
	background-color: greenyellow;
}
.gold:hover ~ .bg {
	background-color: gold;
}
