* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-size: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: 'Ubuntu', sans-serif;
	color: gray;
}
div {
	width: 50%;
	h1 {
		color: black;
		font-size: 4rem;
		text-transform: uppercase;
	}
	p {
		font-size: 2rem;
	}
}
