*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	font-family: 'Open Sans', sans-serif;
	background-color: #333;
	font-size: 3.6rem;
}

.wrapper {
	margin: 50px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr 5fr 1fr;
	// definiujemy sobie ile kolumn mają zajmować poszczególne kontenery i w których wierszach się mają znajdować. Poniższ notacja zacznie działać dopiero jak odwołamy się do nich w css. Nazwy (nav, aside, main i footer) są dowolne mogą się nazywać nawet mleko kefir smietana twarog ale musza byc logiczne aby wiedziec do czego sie odwolujemy
	// W tym momencie w dev toolsach również pojawią się nam dodatkowo nazwy zdefiniowanych przez nas obszarów
	grid-template-areas:
		'nav nav nav'
		'aside main main'
		'footer footer footer';

	//  Jeśli nie chcemy żeby np footer rozciągał się nam na wszystkie 3 kolumny to musimy ustwić puste miejsce robimy to za pomocą kropki czyli np.  '. footer footer';
}

.item {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 20px;
	text-transform: uppercase;
	border: 1px solid black;
}

nav {
	background-color: cornflowerblue;
	grid-area: nav;
}

main {
	background-color: slateblue;
	grid-area: main;
}

aside {
	background-color: teal;
	grid-area: aside;
}

footer {
	background-color: gold;
	grid-area: footer;
}
