*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	font-family: 'Open Sans', sans-serif;
	background-color: #333;
	font-size: 3.6rem;
}

.wrapper {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 100px 100px 500px 100px;
}

.item {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 20px;
	text-transform: uppercase;
}

// Pokaz jak można za pomocą pozycji na siatce wypozycjonować sobie elementy w html za pomocą grida

nav {
	background-color: tomato;
	// zapis odwołujący się do pojedyńczych jednostek stosujemy start-end gdzie /w jakich liniach/ ma się zaczynać i kończyć kolumna oraz wiersz
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
}

header {
	background-color: gold;
	// zapis skrócony gdzie linie start / end kolumny lub wiersza oddzielamy ukośnikiem np. 1/2
	grid-column: 1 / 3;
	grid-row: 2/3;
}

main {
	background-color: cornflowerblue;
	grid-column: 1/2;
	grid-row: 3/4;
}

aside {
	background-color: slateblue;
	grid-column: 2/3;
	grid-row: 3/4;
}

footer {
	background-color: greenyellow;
	grid-column: 1/3;
	grid-row: 4/5;
}
