@import url(./_colors.scss);
@import url(./_components.scss);
@import url(./_mixin.scss);
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body {
	height: 100vh;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.6rem;
	// font-family: 'Dancing Script', cursive;
}
