* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-size: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: 'Ubuntu', sans-serif;
	color: gray;
}
div {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid black;
	width: 700px;
	height: 300px;

	button {
		width: 200px;
		padding: 10px 10px;
		margin: 20px 20px;
		font-size: 2rem;
	}
	.btn1 {
		background-color: lime;
		color: gray;
	}
	.btn2 {
		background-color: blue;
		color: green;
	}
}
