body {
	background-color: #333;
	color: #fff;
	font-size: 36px;
	font-family: 'Comfortaa', cursive;
}
img {
	width: 800px;
	border-radius: 25px;
}
img.displayed {
	display: block;
	margin: 0 auto;
}
p {
	color: lime;
}
.bold-text {
	color: tomato;
	text-decoration: underline;
}
