* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	font-family: sans-serif;
	font-size: 48px;
	background-color: rgb(240, 240, 240);
	background-image: linear-gradient(to top, #d5d4d0 0%, #eeeeec 31%);
	height: 100vh;
	font-family: 'Ubuntu', sans-serif;
}
.box {
	display: flex;
	flex-direction: column;
	width: 400px;
	padding: 40px;
	border: 1px solid black;
}
label {
	margin-bottom: 10px;
	font-size: 24px;
}
input {
	margin-bottom: 10px;
	padding: 10px 20px;
	font-size: 24px;
}
textarea {
	// max-width: 100%;
	// min-width: 100%;
	resize: vertical; // to można użyć zamiast tego  powyżej
}
